<div class="section">
    <h1>İletişim</h1>
    
    <div class="contact-info">
        <p><strong>E-posta:</strong> ciftlerabdullah@gmail.com</p>
        <p><strong>Telefon:</strong> +90 506 631 68 42 (Türkiye), +387 62 627 305 (Bosna)</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/farukciftler">linkedin.com/in/farukciftler</a></p>
    </div>
</div> 