<div class="section">
    <h1>Eğitim</h1>
    
    <div class="education-item">
        <h2>Yıldız Teknik Üniversitesi</h2>
        <p>Elektrik Mühendisliği, Lisans</p>
        <p>2016 - 2021</p>
    </div>

    <div class="education-item">
        <h2>İstanbul Üniversitesi</h2>
        <p>Ekonometri, Lisans</p>
        <p>2024 - Devam Ediyor</p>
    </div>
</div> 