<div class="section">
    <h1>Eğitim</h1>

    <div class="education-grid">
        <div class="education-item">
            <h2>Yıldız Teknik Üniversitesi</h2>
            <p>Elektrik Mühendisliği, Lisans</p>
            <p>2016 - 2021</p>
        </div>

        <div class="education-item">
            <h2>İstanbul Üniversitesi</h2>
            <p>Ekonometri, Lisans</p>
            <p>2024 - Devam Ediyor</p>
        </div>
    </div>

    <h2>Seçilmiş Proje</h2>
    <div class="project-item">
        <h3>Otonom Enerji Yönetimi için Akıllı Priz Tasarımı</h3>
        <p>2018</p>
        <p>Cihaz sınıflandırması ve enerji optimizasyonu için ML destekli akıllı priz geliştirme. TÜBİTAK tarafından desteklendi. <a href="https://drive.google.com/file/d/1d05yeP7s6-VN8GtBZKSzdwKjFtLerEjZ/view?usp=sharing" target="_blank">Konferans makalesi burada</a>.</p>
    </div>
</div> 