<div class="section">
    <h1>Abdullah Faruk Çiftler</h1>
    <p>Yazılım geliştirme geçmişine sahip, deneyimli ve sonuç odaklı Ürün Yöneticisi. Çeşitli sektörlerde yenilikçi çözümler geliştirme konusunda uzman. Agile metodolojiler, pazar araştırması ve ürün geliştirme konularında kapsamlı deneyim.</p>
</div> 