<div class="section">
    <h1>Yetenekler</h1>
    
    <h2>Teknik Yetenekler</h2>
    <p>API Entegrasyonu, .NET, Docker, C#, ASP.NET Core MVC, Microservices, Machine Learning</p>
    
    <h2>Proje Yönetimi</h2>
    <p>Agile Metodolojiler, Scrum, Kanban, Ürün Yol Haritası Planlama, Pazar Araştırması, İş Geliştirme</p>
    
    <h2>Diller</h2>
    <p>İngilizce (C1), Türkçe (Anadil), Boşnakça (A1), Arapça (B1)</p>
</div> 