<div class="section">
    <h1>İletişim</h1>
    
    <div class="contact-info">
        <p><strong>E-posta:</strong> ciftlerabdullah@gmail.com</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/farukciftler" target="_blank">linkedin.com/in/farukciftler</a></p>
    </div>

    <div class="references">
        <h2>Referanslar</h2>
        <div class="reference-item">
            <h3>Cise Ayhan</h3>
            <p>CEO of İşinOlacak</p>
            <p>E-posta: ciseayhan@gmail.com</p>
        </div>

        <div class="reference-item">
            <h3>Prof. Dr. Ali Polat</h3>
            <p>Consultant at New Mind Information Management Systems</p>
            <p>E-posta: apolat@hotmail.com</p>
        </div>
    </div>
</div> 