<div class="section">
    <h1>Education</h1>
    
    <div class="education-item">
        <h2>Yıldız Technical University</h2>
        <p>BSc in Electrical Engineering</p>
        <p>2016 - 2021</p>
        <div class="project">
            <h3>Project: Smart Plug Design (TÜBİTAK Supported)</h3>
            <p>Developed a smart plug system for managing energy consumption, utilizing machine learning algorithms to classify devices and optimize energy usage. The project involved extensive research in smart grids, machine learning, and IoT.</p>
            <p><a href="https://drive.google.com/file/d/1d05yeP7s6-VN8GtBZKSzdwKjFtLerEjZ/view?usp=sharing" target="_blank">View conference paper</a></p>
        </div>
    </div>

    <div class="education-item">
        <h2>Istanbul University</h2>
        <p>BSc in Econometrics</p>
        <p>2024 - Present</p>
    </div>
</div> 