<div class="section">
    <h1>Eğitim</h1>
    
    <div class="education-item">
        <h2>Yıldız Teknik Üniversitesi</h2>
        <p>Elektrik Mühendisliği, Lisans</p>
        <p>2016 - 2021</p>
        <div class="project">
            <h3>Proje: Akıllı Priz Tasarımı (TÜBİTAK Destekli)</h3>
            <p>Enerji tüketimini yönetmek için akıllı priz sistemi geliştirdim. Cihazları sınıflandırmak ve enerji kullanımını optimize etmek için makine öğrenimi algoritmaları kullanıldı. Proje akıllı şebekeler, makine öğrenimi ve IoT alanlarında kapsamlı araştırma içerdi.</p>
            <p><a href="https://drive.google.com/file/d/1d05yeP7s6-VN8GtBZKSzdwKjFtLerEjZ/view?usp=sharing" target="_blank">Konferans makalesini görüntüle</a></p>
        </div>
    </div>

    <div class="education-item">
        <h2>İstanbul Üniversitesi</h2>
        <p>Ekonometri, Lisans</p>
        <p>2024 - Devam Ediyor</p>
    </div>
</div> 