<div class="section">
    <h1>Profil</h1>
    <p>Yazılım geliştirme geçmişine sahip, deneyimli ve sonuç odaklı Ürün Yöneticisi. Çeşitli sektörlerde yenilikçi çözümler geliştirme konusunda uzman. Agile metodolojiler, pazar araştırması ve ürün geliştirme konularında kapsamlı deneyim. Başarılı bir startup kurucusu ve tam ürün yaşam döngüsü yönetiminde uzman. Çok dilli ve uluslararası projeleri yönetme yeteneğine sahip.</p>
    
    <h2>Lokasyon</h2>
    <p>Saraybosna, Bosna Hersek (Ana İkamet: Hamdije Kreševljakovića 16, Skenderija, Saraybosna) / İstanbul, Türkiye (İkincil İkamet)</p>
</div> 